/build*
/obj*
/ext/aom
/ext/dav1d
/ext/libjpeg
/ext/libgav1
/ext/libpng
/ext/libyuv
/ext/rav1e
/ext/SVT-AV1
/ext/zlib
.clangd/
cscope.*
tags
cmake-build-debug
.vs
/ext/aom/

.idea
CMakeFiles
ext/libjpeg
ext/libyuv
cmake_install.cmake
CMakeCache.txt
libavif.pc
libavif.cbp
libavif-config-version.cmake
Makefile

